@import "_variables.scss";
@import "_main.scss";
@import "_footer.scss";

@mixin size($alto, $ancho){
  width: $ancho;
  height: $alto;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f2e2cd;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  }
  body {
    background-color: #f2e2cd;
    height: 100%;
    h1 {
        text-align: center; 
       
      }
  }
  
